html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto','Noto Sans KR', sans-serif;
    line-height: 1.2;
    box-sizing: border-box;
    color: #000;
}

button {
    font-family: 'Roboto','Noto Sans KR', sans-serif;
    outline: none;
}

input {
    font-family: 'Roboto','Noto Sans KR', sans-serif;
    outline: none;
}

/* 하단 버튼 네비게이션 */
#buttonContainer {
    position: absolute;
    z-index: 300;
    background-color: white;
}

#bottomNav {
    position:absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    height: 20%;
    flex-direction: row;
    z-index: 250;
    width: 100%;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
    background-size: cover;
}

.bottomNavButton {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("assets/btn@3x.png");
    background-size: cover;
    border: 0;
}

.bottomNavButtonImage {
    width: 55%;
    object-fit: cover;
}

.bottomNavButtonText {
    color: white;
    text-align: center;
    margin-top: 8px;
    font-size: 16px;
    font-weight: bold;
}

/* 바코드 가이드 화면 */
#barcodeGuide {
    position:absolute;
    z-index: 250;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 12.5vh
}

#barcodeGuideImage {
    object-fit: contain;
    width: 35vh;
    margin-bottom: 2vh;
    z-index: 0;
}

#barcodeGuideInnerBox {
    width: 20vh;
    height: 20vh;
    border: solid 5px #0089d1;
    margin-Bottom: 10vh;
    box-shadow: 0 0 0 1000px rgba(0,0,0,.5);
}

#barcodeGuideCancelButton {
    margin-top: 3vh;
    background-color: #878787;
    border-radius: 20px;
    border: 0;
    padding: 8px 24px;
    text-align: center;
    font-size: 15px;
    color: white;
}

/* 제품인증 Modal */

#modal {
    position:absolute;
    margin-top: 10vh;
    margin-left: 5%;
    z-index: 250;
    width: 90%;
    height: 65vh;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
    background-color: white;
}
#modalHeader {
    width: 100%;
    height: 20%;
    padding: 0 24px;
    object-fit: cover;
    background-color: #F0F0F0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#modalHeader h1 {
    color: #0089d1;
    font-size: 24px;
    font-weight: bold;
}

#modalHeader img {
    width: 52px;
    height: 52px;
}

#modalBody {
    width: 100%;
    height: 60%;
}
#modalGenuineInput {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.modalGenuineInputItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modalGenuineInputItem .modalGenuineInputItemText {
    width: 110px
}

.modalGenuineInputItem h1 {
    font-size: 18px;
    color: #666666;
    font-weight: bold;
}

.modalGenuineInputItem input {
    border: solid 2px #999999;
    background-color: #ededed;
    color: #666666;
    padding-top: 7px;
    padding-bottom: 9px;
    padding-left: 13px;
    width: 55%;
    border-radius: 4px;
}

#modalGenuineInput :nth-child(4) input {
    background-color: white;
    color: #0089d1;
    border: solid 2px #0089d1;
}

#modalGenuineConfirm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    height: 100%;
}

#modalGenuineConfirmInfo {
    height: 40%;
    width: 100%;
    font-size: 16px;
    padding: 10px 10% 0;
}

#modalGenuineConfirmResult {
    width: 100%;
    height: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalGenuineConfirmResult h1 {
    font-size: 20px;
    color: #0089d1;
}

#modalFooter {
    width: 90%;
    height: 20%;
    margin: 0 auto;
    border-top: solid 1px #d8d6d6;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#modalFooter button {
    background-color: #878787;
    border-radius: 20px;
    border: 0;
    padding: 12px 0 12px;
    width: 35%;
    text-align: center;
    font-size: 20px;
    color: white
}

#modalFooter :nth-child(2) {
    background-color: #0D74C6;
}

#buttonContainer {

}
